/* general */

h3{
  font-size: 20px;
}

/* header */
header{
  background-color: rgb(131, 131, 131);
  height: 110px;
}

nav{
  margin-left: 90px;
}
nav img {
  float: left;
  margin-top: 15px;
}
nav li{
  display: inline-block;
  width:150px;
  margin-left: 30px;
  margin-top: 45px;
  
}
nav a{
  text-decoration: none;
  color:#FFF;
}
nav ul{
  text-align: center;
  float: left;
}


/* main */
main{
  height: auto;
}
main img{
  margin-top: 30px;
  margin-left: 90px;
}
main ul{
  height:405px;
}

main li{
  width:300px;
  float: left;
  margin-right: 30px;
}
section{
  margin-left:90px;
  width: 960px;
  margin-top: 30px;
}
section img{
  float:left;
  width: 50%;
  margin: 0 15px 0 0 ;
}

article{
  height: 400px;
  margin-left: 15px;
}

article p{
  overflow: auto;
  height: 340px;
  font-style: italic;
  padding-top: 5px;
}

article div {
  background-color: rgb(136, 136, 136);
  float:left;
  width: 120px;
  margin-top: 10px;
  height: 15px;
  padding: 5px 3px 5px 5px;
  text-align: center;
  border-radius: 5px;
}

article div:hover{
  background-color: rgb(32, 83, 250);
  color: #fff;
  transition: 350ms;
}

article a{
  color:#FFF;
  text-decoration: none;
}


/* footer */
footer{
  margin-top: 30px;
  width: 100%;
  height: 150px;
  display: block;
  background-color: rgb(131, 131, 131);
}
